body {
    background-color: #f8f9fa;
    font-family: "Georgia", serif;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    background-color: #34454e;
    color: white;
    padding: 5px 10px;
}

.subtitle button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: bold;
    margin-left: 10px;
}

.feature-card {
    background-color: #d6e4ff;
    border-radius: 12px;
    padding: 20px 10px;
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}

.feature-icon {
    font-size: 24px;
    margin-bottom: 8px;
}

.grid-container {
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}