.vocab-search-section {
    background: #f8f8fc;
    text-align: start;
    /* padding-bottom: 30px; */
    border-radius: 12px;
}

.vocab-search-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.vocab-search-box {
    padding: 0 20px;
    margin-top: 20px;
}

.search-input-wrapper {
    max-width: 100%;
    margin: 0 auto 32px auto;
    display: flex;
    background: white;
    border-radius: 999px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-input-wrapper input {
    border: none;
    flex: 1;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 999px;
    outline: none;
}

input {
    text-align: left;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
}

input::placeholder {
    text-align: left;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
}

.search-btn {
    background: none;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #999;
}

.vocab-category-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.vocab-btn {
    background: white;
    padding: 31px 30px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.vocab-btn:hover {
    background: #ececff;
    transform: translateY(-2px);
}

/* Detail */
.vocab-tabs {
    display: flex;
    overflow-x: auto;
    border-bottom: 2px solid #ddd;
    background: #fff;
}

.vocab-tabs a {
    padding: 12px 16px;
    text-decoration: none;
    color: #444;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    flex-shrink: 0;
}

.vocab-tabs a.active {
    color: #000;
    border-color: #133985;
}

.vocab-info {
    background: #fef2f2;
    color: #b91c1c;
    font-size: 14px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.vocab-wrapper {
    display: flex;
}

.vocab-sidebar {
    width: 32px;
    padding-top: 12px;
    font-size: 12px;
    color: #999;
    position: sticky;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.vocab-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vocab-sidebar li {
    text-align: center;
    margin: 4px 0;
}

.vocab-sidebar a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #888;

    display: block;
    padding: 4px 8px;
    text-decoration: none;
    border-left: 4px solid transparent;
    transition: all 0.2s;
}

.vocab-sidebar a.active {
    color: #133985;
    font-weight: bold;
    border-left: 4px solid #133985;
    background-color: #f5f6fa;
}

.vocab-list {
    flex: 1;
    padding: 16px;
    background: #f9f9fb;

    max-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-right: 10px;
    padding-left: 0;
}

.vocab-list.unset {
    height: auto;
    overflow-y: unset;
}

.vocab-letter {
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
    border-bottom: 1px solid #ccc;
}

.vocab-card {
    background: #fff;
    margin: 0 0 12px 0;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.vocab-card.border {
    border-top: 8px solid #badfff !important;
}

.vocab-header {
    display: flex;
    justify-content: space-between;
}

.vocab-hint {
    font-style: italic;
    color: #555;
    margin-top: 4px;
    font-weight: 400;
    font-style: Italic;
    font-size: 18px;
}

.vocab-example {
    color: #444;
    font-style: italic;
}

.speak-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.vocab-section-heading {
    font-weight: 700;
    font-size: 28px;
}

.synonymous {
    font-family: SVN-Linux Libertine;
    font-weight: 400;
    font-style: Italic;
    font-size: 24px;
}

.vocab-title {
    font-weight: 400;
    font-size: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    border-radius: 12px;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-content h3 {
    margin-top: 0;
    text-align: center;
}

.modal-content input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #faf9fc;
    font-size: 14px;
}

.submit-btn {
    background-color: #0033cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.open-btn {
    margin: 20px;
    padding: 8px 16px;
    background-color: #0033cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.modal-content .submit-btn {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
}

.additional-vocab-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    color: #bdbdbd;
}

/* Lightbox */
.lightbox-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-overlay img.lightbox-image {
    max-width: 90%;
    max-height: 80%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.lightbox-overlay.show {
    display: flex;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.sticky-wrapper {
    position: sticky;
    top: 72px;
    z-index: 99;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;

    max-height: 100vh;
    overflow-y: auto;
}

.sticky-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.note-text {
    font-weight: 400;
    font-size: 18px;
}

.vocab-link {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
