/* Chung all module */
body {
    background-color: #F5F4FA;
}

.navbar {
    display: none !important;
}

.container {
    padding-bottom: 150px;
}

.answer-option {
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 12px;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.2s ease-in-out;
}

.answer-option:hover {
    background-color: #e2e8f0;
}

.answer-wrong {
    background-color: #ff0015;
    color: #721c24;
}

.answer-disabled {
    /* background-color: #dee2e6; */
    color: #000000;
}

.answer-correct {
    background-color: #00ff8c;
    color: #0f5132;
}

.hint-box {
    background-color: #e8f5e9;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
}

.question-block {
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    border-radius: 12px;
    margin-bottom: 24px;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.highlight-text {
    color: #000000;
    /* font-weight: bold; */
}

.highlight-title {
    color: #0f5132;
    font-size: 20px;
    /* font-weight: bold; */
}

.sp-bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-btn {
    text-align: center;
}

.answer {
    display: flex;
    justify-content: space-between;
    border: none;
    width: 100%;
}

.icon-arrow {
    width: 50px;
    height: 24px;
    object-fit: contain;
}

.answer-wrapper {
    display: flex;
}

.play-audio-answer {
    display: none;
}

.answer-hints {
    margin-top: 10px;
    padding: 10px;
    background-color: #e6f4ea;
    border-left: 4px solid #38a169;
    border-radius: 6px;
}

.fl-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.img-loudspeaker {
    width: 100px;
}

@media (max-width: 480px) {
    .img-loudspeaker {
        width: 70px;
    }
}

.img-loudspeaker:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    filter: brightness(1.1);
}

.btn-toggle-answer {
    height: 30px;
    border-radius: 15px;
    /* margin-left: 5px; */
    font-size: 0.85rem;
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    transition: background 0.2s ease;
}

.btn-toggle-answer:hover {
    background-color: #e5e7eb;
}

#writing-answer {
    font-size: 20px;
}

.input-writing {
    width: 70%;
    height: 60px;
    font-size: 1.1rem;
    padding: 16px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    resize: none;
    /* không cho kéo */
    align-content: center;
    overflow: hidden;
}

@media (max-width: 480px) {
    .input-writing {
        width: 100%;
    }
}

.wp-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 10px 0px 10px;
}

.toggle-icon {
    font-size: 2.5rem;
    color: #000000;
    /* xanh lá Bootstrap */
    transition: color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.toggle-icon-btn {
    font-size: 1.8rem;
    color: #fff;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.toggle-icon-btn:hover {
    background-color: #1e7e34;
    transform: scale(1.1);
}

.toggle-icon:active,
.toggle-icon-btn:active {
    transform: scale(0.95);
    opacity: 0.8;
}

textarea.form-control {
    width: 100%;
    background-color: #F8F7FB !important;
    color: #000 !important;
    height: auto;
    border-radius: 12px !important;
}

textarea.form-control::placeholder {
    color: #BDBDBD !important;
    /* thay bằng mã màu bạn muốn */
    opacity: 1;
    /* đảm bảo không bị nhạt màu quá */
}

#icon-show {
    margin-top: 15px !important;
}

.box-icon-show {
    border-bottom: solid 1px #3C3C435C;
    padding: 0px 0px 20px 0px;
}

/* Căn chỉnh bố cục nút */
.wp-action {
    width: 100%;
    z-index: 100;
    padding: 10px 0px;
    background-color: #F5F4FAE5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);


    /* Phần cố định ở cuối màn hình */
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

/* Nút hình tròn */
.action-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Màu từng nút */
.btn-previous {
    background-color: #D9D9D9;
    color: #000;
    border: none;
}

.btn-submit {
    width: 64px;
    height: 64px;
    background-color: #0D47C6;
    color: #fff;
    border: none;
}

.btn-next {
    background-color: #D9D9D9;
    color: #000;
    border: none;
}

textarea.correct-answer {
    background-color: #028B64 !important;
    /* màu xanh lá đậm như ảnh */
    color: white !important;
}

textarea.wrong-answer {
    background-color: #BF0C2C !important;
    color: white !important;
}

.answer-tips .tag {
    display: inline-block;
    background-color: #BADFFF;
    color: #122759;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 8px;
    margin-bottom: 8px;
}

.answer-tips .tag .tag-key {
    font-weight: 800 !important;
}

.btn-next-correct {
    background-color: #1247BB !important;
}

.textarea-wrapper {
    position: relative;
}

#clear-answer-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
    /* Ẩn mặc định */
}